body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: black;
}

.form-signin {
  width: 60%;
  max-width: 300px;
  margin-top: 100px;
margin-left: 650px;

}

.form-signin .checkbox {
  font-weight: 300;
  font-size: 15px;
  color: white;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sign12{
  font-size: 20px;
  color: white;
}
.sign123{
  font-size: 20px;
  color: white;
  margin-top: 120px;
}
